@font-face {
  font-family: roboto;
  src: url('../fonts/Roboto/Roboto-Light.ttf');
  font-display: swap
}
a {
  direction: none;
  text-decoration: none;
}
html , body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

    font-family:roboto;
}


body {
background-color: black;
}

.container-index {
    background-image: url("../imgs/background_1920.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    opacity: 0.4;
}

.context-index {
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 50px;
     left: 100px;
     max-width: 600px;
     height: 90vh;
     z-index: 2;

      .logo-index {
            .logo-span-index-prefix {
                font-size: 3.2rem;
                color: $logoColor;
                font-weight: bold;

            }
            .logo-span-index-name-part-1 {
              color: $textColor;
              font-size: 1.5rem;
            }
            .logo-span-index-name-part-2 {
              color: $textColor;
              font-size: 1.5rem;
            }
      }

     .title-index {
            h1 {
              font-size: 2.5rem;
              color: $textColor;
              text-shadow: black 0.1em 0.1em 0.3em;
                span:nth-child(1) {
                  color: $logoColor;
                  text-shadow:$shadowTitle;
                }
                span:nth-child(2) {
                  color: $h1TitlePart2;
                  text-shadow:$shadowTitle;
                }
           }
    }

     .description-index {
          color: $textColor;

            p {
              font-size: 1.2rem;
            }
    }
}

  .butons-index {
    .btns-group {
      a:first-child ,a:last-child{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: $logoColor;
        border: 0;
        border-radius: 5px;
        color:$textColorSecundary;
        height:8vh;
        margin: 9px 0;
        font-size: 1.1rem;
        text-shadow: black 0.1em 0.1em 0.2em;
        cursor: pointer;
        opacity: 0.9
      }
      a:hover {
        opacity: 1;
        font-size: 1.4rem;

      }
    }


      a:nth-child(2){
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: $gmail;
        border: 0;
        border-radius: 5px;
        color:$textColorSecundary;
        height:8vh;
        padding: 0;
        margin: 9px 0;
        font-size: 1.1rem;
        text-shadow: black 0.1em 0.1em 0.2em;
        cursor: pointer;
        opacity: 0.9
      }

      a:last-child{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: $facebook;
        border: 0;
        border-radius: 5px;
        color:$textColorSecundary;
        height:8vh;
        padding: 0;
        margin: 9px 0;
        font-size: 1.1rem;
        text-shadow: black 0.1em 0.1em 0.2em;
        cursor: pointer;
        opacity: 0.9
      }
      a:hover {
        opacity: 1;
        font-size: 1.4rem;

      }
}


  @media only screen and (max-width: 800px) {

    .context-index  {
        top:0;
        left: 0;
        max-width: 100%;
        text-align: center;
        margin-top: 20px;
        padding-left: 110px;
        padding-right: 110px;


            .description-index {
                  p {
                   font-size: 0.9rem;
                 }
           }
      }
  }

  @media only screen and (max-width: 600px) {

    .context-index  {
        padding-left: 30px;
        padding-right: 30px;

        .logo-index {
              .logo-span-index-prefix {
                  font-size: 2.8rem;

              }
              .logo-span-index-name-part-1 {

                font-size: 1.2rem;
              }
              .logo-span-index-name-part-2 {

                font-size: 1.2rem;
              }
        }

        .butons-index {
            .btns-group {
              display: flex;

              a{
                height: 40px;
                margin:auto;
                font-size: 0.8rem;
              }
              a:first-child {
                margin-right: 10px;
                font-size: 0.8rem;

              }
            }
            a:last-child , a:nth-child(2){
              font-size: 0.8rem;
              height: 40px;

            }
            a:last-child {
              margin-top: 10px auto;
            }
          }
      }
  }


  @media only screen and (max-width: 281px) {
    .context-index  {
        padding-left: 20px;
        padding-right: 30px;
        width: 237px;
        text-align: center;


        .logo-index {
              .logo-span-index-prefix {
                  font-size: 1.0rem;

              }
              .logo-span-index-name-part-1 {

                font-size: 0.9rem;
              }
              .logo-span-index-name-part-2 {

                font-size: 0.9rem;
              }
        }

        .butons-index {
            a{
              font-size: 12px;
              height: 55px;
            }
          }
      }
  }
